* {
/*  border: solid 1px black; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  justify-content: center;
  background-color: #ddd;
  font-size: 14px;
  line-height: 20px;
  color: #3b4144;
  font-family: 'Oxygen', sans-serif;
}
/* 複寫區 */
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #3b4144;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
h1 {
  line-height: 60px;
}
h2 {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
/*h4::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #fff;
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
  margin-left: 10px;
}
*/h5 {
  font-size: 13px;
  line-height: 25px;
}
p {
  font-size: 13px;
  line-height: 23px;
}
.resume {
  margin: 0 auto;
  max-width: 850px;
  min-width: 700px;
  border: solid #fff 5px;
  padding: 25px;
  overflow: hidden;
}
.decoration {
  width: 300px;
  height: 100px;
  background: linear-gradient(135deg, #ffb2e4, #89d3e3);
  border-radius: 70px;
  position: absolute;
  transform: rotate(-30deg);
  /*border: 1px solid #3b4144;*/
}
.decoration:nth-of-type(1) {
  top: -95px;
  left: 74%;
}
.decoration:nth-of-type(2) {
  top: 40px;
  left: 71%;
  width: 400px;
}
.top,.left,.right,.footer {
  padding: 15px;
}
.content {
  display: flex;
}
.left {
  flex: 5;
  padding-right: 30px;
  padding-left: 30px;
}
.right {
  flex: 8;
  padding-left: 40px;
  border-left: 1px solid #3b4144;
}
.top {
  display: flex;
  position:relative;
  margin-bottom: 20px;
}
.footer {
  margin-top: 30px;
  padding-left: 40px;
}
.myPhoto {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
  background-image: url("image/myphoto.png");
  background-size: 120px 120px;
  background-position: center;
  /*border: 1px solid #3b4144;*/
}
/*.nameCircle {
  position: absolute;
  left: 45px;
  z-index: -1;
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
}*/
.myName {
  padding-left: 40px;
  padding-top: 10px;
}
.circle {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #3b4144;
  background-size: 90px 90px;
  background-position: center;
}
.circle-image1 {
  background-image: url("image/passion_feminism.png")
}
.circle-image2 {
  background-image: url("image/passion_pottery.png")
}
.circle-image3 {
  background-image: url("image/passion_art.png")
}
.circle-image4 {
  background-image: url("image/passion_comic.png")
}

.buttons {
  margin-top: 20px;
  margin-bottom: 40px;
}
.btn {
  padding: 5px 20px;
  background-color: #fff;
  margin-right: 10px;
  border: 1px solid #3b4144;
  font-family: 'Open Sans', sans-serif;
}
.btn:hover {
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
  border: 1px solid #ddd;
  color: #fff;
}
.listPassion {
  display: flex;
  flex-wrap: wrap;
}
.listPassion > li {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.listSkill {
  margin-bottom: 40px;
}
.listSkill > ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.skillLevel {
  width: 65px;
  height: 55px;
  border: 3px solid #fff;
/*  border-radius: 50%;*/  
  text-align: center;
  position: relative;
  margin-left: 15px;
  padding-top: 13px;
  z-index: -2;
}
.level1,.level2 {
  position: absolute;
  background-color: #ddd;
  z-index: -1;
}
.level1 {
  width: 35px;
  height: 30px;
  left: -3px;
  top: 22px;
}
.level2 {
  width: 65px;
  left: -3px;
  top: -3px;
  height: 30px;
}
.listAward > li {
  margin-top: 10px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}
.footer {
  position: relative;
}
.footerCircle {
  width: 140px;
  height: 140px;
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
  position: absolute;
  border-radius: 50%;
  top: 30px;
  left: -100px;
  z-index: -1;
} 
.time {
  padding-left: 30px;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
}
.decorationLine {
  position: absolute;
  height: 6px;
  margin-top: 20px;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
}
.decorationCircle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #82d5ff;
}
.decorationLine:nth-of-type(1) {
  width: 35%;
  top: -20px;
  left: 20px;
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
} 
.decorationCircle:nth-of-type(2) {
  top: 0px;
  left: 40%;
}
.decorationLine:nth-of-type(3) {
  width: 50%;
  left: 36%;
  top: 0px;
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
}
.decorationCircle:nth-of-type(4) {
  top: 20px;
  left: 88%;
}
.decorationLine:nth-of-type(5) {
  width: 25%;
  left: 69%;
  top: 20px;
  background: linear-gradient(135deg, #ffb2e4, #82d5ff);
} 
.decorationCircle:nth-of-type(6) {
  top: 40px;
  left: 97%;
}
.listExperience {
  display: flex;
  /*padding-left: 30px;*/
}
.listExperience > li {
  padding-left: 20px;
  flex: 3;
}
.listExperience li ul {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 15px;
  border-left: 3px solid #fff;
/*   background-color: pink; */
}
.listExperience > li > ul > li {
/*   background-color: #fff; */
  margin-top: 13px;
} 

@media only screen and (max-width: 700px) {
body {
  padding: 0px;
}
.resume {
  width: 100%;
  min-width: 300px;
  border: none;
  padding: 50px;
}
/*.resume div {
  border: 1px solid;
}*/
.content,.listExperience {
  display: block;
}
.top,.footer {
  display: inline-block;
  width: 100%;  
  margin: 0 auto;
}
h4 {
  margin-top: 30px;
}
.myName {
  padding-left: 15px;
  padding-top: 20px;
}
.listPassion > li {
  width: 25%;
}
.right {
  border: none;
  padding-left: 30px;
}
.footer {
  padding-left: 30px;
}
.time {
  display: none;
}
.listExperience > li {
    margin-bottom: 30px;
  }
@media only screen and (max-width: 500px) {
.resume {
  padding: 10px;
}
.listPassion > li {
  width: 50%;
}
.skillLevel {
  width: 60px;
  margin-left: 0px;
  margin-right: 10px;
}
.listAward > li {
  padding-left: 0px;
}
.decoration:nth-of-type(1) {
  top: -30px;
  left: 50%;
  height: 80px;
}
.decoration:nth-of-type(2) {
  top: 35px;
  left: 73%;
}

}